@import "responsive";

.Cast {
  width: 45vw;
  margin-left: 5vw;
  height: auto;
  margin-top: 4vh;

  h2 {
    letter-spacing: 2px;
    margin-bottom: 4vh;
    color: rgb(204, 207, 226);
  }
  @include media(650px) {
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
  }
}

#flexCast {
  display: flex;
  @include media(650px) {
    //flex-wrap: wrap;
  }
}

#castBox {
  //border: 1px solid floralwhite;
  margin-right: 0.5vw;
  p {
    font-size: 1vw;
    margin-top: 1vh;
    color: white;
  }
  @include media(650px) {
    p {
      font-size: 2.5vmin;
    }
  }
  @include media(360px) {
    p {
      font-size: 3vmin;
    }
  }
}

#character {
  font-size: 0.9vw;
  color: rgb(201, 201, 201);
  //border: 1px solid yellow;
}

.Crew {
  position: absolute;
  left: 54vw;
  top: 200vh;
  width: 40vw;
  height: auto;
  margin-bottom: 4rem;
  @include media(650px) {
    position: relative;
    top: auto;
    left: auto;
    margin: 4vh 0 0 0;
  }
}

#faceScan {
  height: 20vh;
}
