.searchData {
  //position: absolute;
  top: 0vh;
  display: flex;
  flex-direction: column;
  //border: 1px solid green;

  p {
    color: rgb(0, 225, 255);
    z-index: 1;
    cursor: pointer;
    //border: 1px solid red;
    background: black;
    padding: 1vw;
  }
  // margin-top: 15vh;
  // margin-bottom: 2vh;
}
