@import "responsive";

.SimilarMovies {
  position: absolute;
  left: 54vw;
  top: 100vh;
  height: auto;
  margin-top: 4vh;
  h2 {
    letter-spacing: 2px;
    margin-bottom: 4vh;
    color: rgb(204, 207, 226);
  }
  @include media(650px) {
    position: relative;
    top: auto;
    left: auto;
    margin-left: 4.5vw;
  }
}

#similarImg {
  border-radius: 0.4rem;
  margin: 0 1vw 1vw 0;
  cursor: pointer;
  transition: 1.5s;
  &:hover {
    filter: grayscale(1);
  }
}
