.SimilarMovies {
  position: absolute;
  left: 54vw;
  top: 100vh;
  //border: 1px solid rgb(255, 255, 255);
  height: auto;
  //width: 40vw;

  h2 {
    // margin-top: 2vh;
    letter-spacing: 2px;
    margin-bottom: 4vh;
    color: rgb(204, 207, 226);
  }
}

#similarImg {
  //border: 1px solid blue;
  border-radius: 0.4rem;
  margin: 0 1vw 1vw 0;
  cursor: pointer;
  transition: 1.5s;
  &:hover {
    filter: grayscale(1);
  }
}
